body
  font-family Circle-rounded, sans-serif
  margin 0

*, ::after, ::before
  box-sizing border-box

body
  .container
    max-width 1440px
    margin 0 auto

  footer
    margin 0 auto
    text-align center