{% extends "base.pug" %}
-load static
-block content
  .container
    .block-login
      a(href="{% url 'social:begin' 'facebook' %}") facebook
      a(href="{% url 'social:begin' 'google-oauth2' %}") google

